[% INCLUDE include/header/main.tt %]
[% INCLUDE include/usuarios/menu.tt %]

[% IF data.user %]
        <div class="col">
                [% IF data.user.is_client %][% STOP %][% END %]
                [% INCLUDE include/usuarios/upsert.tt IS_STAFF_UPSERT=1 IS_UPDATE=1 %]
        </div>
[% END %]

[% INCLUDE include/footer.tt %]
